src-gen/
bin/
*.lf-project-config
.lf-project-config


__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
frost_env/
.tox/
.pytest_cache/
.coverage

.python-version
.virtualenvs/


.vscode/
.idea/
*.swp
*.swo


*.log
crash.log
logfile.log
warehouse_unit.log


include/


.DS_Store
Thumbs.db