annotated-types==0.7.0
contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.1
frost_planner @ git+https://github.com/glacier-project/frost-planner.git@784b6b860465caf4faffbcd03d4397bc684eb68f
iniconfig==2.3.0
kiwisolver==1.4.9
machine-data-model @ git+https://github.com/glacier-project/machine-data-model.git@05570e613900ded07d9548629d063707fc160cd0
markdown-it-py==4.0.0
matplotlib==3.10.8
mdurl==0.1.2
numpy==2.4.2
packaging==25.0
pandas==2.3.3
pillow==12.1.1
pluggy==1.6.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.2
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.0
pytest==9.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
rich==13.9.4
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
unitsnet-py==0.1.154
